.contributors{
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.pimg{
    max-width:200px;
    height:auto;
    padding:5px;
}

.person{
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
    font-family: "Roboto";
    font-weight: 50;
}

.info{
    font-family: "Roboto";
    font-weight: 50;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 50px;

}